/* Legacy */
.desktop-filters {
    display: flex;
    flex-wrap: wrap;
    padding: 0.33rem 0rem;
    min-height: 2.5rem;
    gap: 0.5rem;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
        display: none;
    }
}

.desktop-filters button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.desktop-filters button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 0, 0, 0.125);
    transform: translateY(1px);
}

.desktop-filters button.active {
    background-color: var(--primary-color);
    color: #ffffff;
}

/* new */
.mobile-filters {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
        width: fit-content;
        padding: 1rem;
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        span{
            text-wrap: nowrap;
        }
    }
}

.mobile-filters .toggle-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    min-width: 12rem;
    border: 1px solid var(--text-color);
}

.mobile-filters .collapsed-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
}

.mobile-filters .collapsed-menu button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
}

.mobile-filters .collapsed-menu button.active {
    background-color: var(--primary-color);
    color: #ffffff;
}