<!-- tab selector module start -->
<div class="tab-selector">
  <section class="tab-buttons-row">
    <button
      class="tab-buttons"
      *ngFor="let tab of tabs; let i = index; let isFirst = first; let isLast = last"
      [ngClass]="{
          'tab-buttons-selected': selectedTab === i,
          'tab-buttons-first': isFirst,
          'tab-buttons-last': isLast
      }"
      (click)="selectTab(i)"
    >
      <span>{{ tab.label }}</span>
      <i [class]="tab.icon"></i>
    </button>
  </section>
  <section class="tab-line"></section>
</div>
<!-- tab selector module end -->