<!-- tab selector module start -->
<div class="tab-selector">
    <section class="tab-buttons-row">
      <button
        class="tab-buttons"
        *ngFor="let tab of tabs; let i = index"
        [ngStyle]="{
             'background-color': selectedTab === i ? '#007bff' : '#E8E2E2' ,
                'color': selectedTab === i ? '#ffffff' : '#151716'
            }"
        (click)="selectTab(i)"
      >
        <span>{{ tab.label }}</span>
        <i [class]="tab.icon"></i>
      </button>
    </section>
    <section class="tab-line"></section>
  </div>
<!-- tab selector module end -->