<!-- table filters module start-->
<div class="table-filters">
    <!-- table pagination module start-->
    <section class="filter-container" id="table-pagination">
        <span>Mostrando </span>
        <select class="dropdown">
            <option>15</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
            <option>200</option>
        </select>
        <span> Chamados</span>
    </section>
    <!-- table pagination module end-->
    <div class="aux-filter-container">
        <!-- filter search module start-->
        <section class="filter-container" id="table-search">
            <div class="filter-search-bar">
                <input placeholder="Buscar ...">
                <button>
                    <i class="fa fa-magnifying-glass"></i>
                </button>
            </div>
        </section>
        <!-- filter search module end-->
        <!-- view mode module start-->
        <section class="filter-container" id="view-mode">
            <button id="toggle-view" (click)="toggleView()" [class.active]="showTable">
                <div *ngIf="showTable">
                    <i class="fa fa-table"></i>
                    <span> Tabela </span>
                </div>
                <div *ngIf="!showTable">
                    <i class="fa fa-rectangle-list"></i>
                    <span> Cartões </span>
                </div>
            </button>
        </section>
        <!-- view mode module end-->
    </div>
</div>
<!-- table filters module end-->