.paginator-helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.text-pagination {
    width: fit-content;
    text-align: center;
    text-wrap: nowrap;
}

.control-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-pagination section button {
    background-color: #E8E2E2;
    color: #161819;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.control-pagination section button.active {
    background-color: #007bff;
    color: white;
}

.control-pagination .navigator-btn {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    margin: 0rem 0.5rem;
    padding: 0rem 1.5rem;
    height: 2.5rem;
}