<div class="container">
    <!-- tabs module start -->
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
        @for (tab of tabs; track tab) {
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">{{ tabConfig[tab].icon }}</mat-icon>
                {{ tabConfig[tab].name }}
            </ng-template>
        </mat-tab>
        }
    </mat-tab-group>
    <!-- tabs module end -->
    <!-- VIEW-TICKETS-->
    <!-- STANDALONE queue module start -->
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onQueueChange($event)" [selectedIndex]="selectedQueueIndex">
        @for (queue of queues; track queue) {
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">{{ queueConfig[queue].icon }}</mat-icon>
                {{ queueConfig[queue].name }}
                <span *ngIf="queueTicketCounts[queue] > 0" class="ticket-count">
                    {{queueTicketCounts[queue]}}
                </span>
            </ng-template>
        </mat-tab>
        }
    </mat-tab-group>
    <!-- STANDALONE queue module start -->
    <ng-container [ngSwitch]="selectedTab">
        <app-view-tickets *ngSwitchCase="'tickets'" [allTickets]="allTickets" [loading]="loading" [error]="error"
            [selectedQueue]="selectedQueue" (searchChange)="handleSearchChange($event)"
            (showTableChange)="handleShowTableChange($event)"></app-view-tickets>
        <app-view-archived *ngSwitchCase="'archived'" [allTickets]="allTickets" [loading]="loading" [error]="error"
            [selectedQueue]="selectedQueue" (searchChange)="handleSearchChange($event)"
            (showTableChange)="handleShowTableChange($event)"></app-view-archived>
    </ng-container>
    <!-- VIEW-TICKETS-->
</div>