.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--bg-color);
    padding: 0rem 0.5rem;
  }
  
  .div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
  }
  
  .aux-div-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    min-height: 3rem;
    width: fit-content;
  }
  
  .aux-container {
    flex: 1;
    margin: auto;
    width: 97vw;
    overflow-x: auto;
  }
  
  .noTickets {
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    width: fit-content;
  }
  
  .noTickets img {
    width: 8rem;
    height: 8rem;
  }
  
  .noTickets p {
    text-align: center;
    font-weight: 600;
  }

  .mat-mdc-tab-group {
    width: 100%;
  }

  .mat-mdc-chip-list-box{
    display: flex;
  }

  .mat-mdc-chip{
    margin: 0.25rem;
  }
  .mat-mdc-form-field{
    width: 25rem;
  }

  .mat-mdc-button-toggle-group{
      gap: 0.5rem;
  }

  @media (min-width: 1100px) {
    .div-container {
        width: 95vw;
    }
  }