.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0rem 0.5rem;
}

.panel-options{
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  padding: 0.5rem;
  width: 95vw;
}

.div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.aux-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  min-height: 3rem;
  width: fit-content;
}

.aux-container {
  flex: 1;
  margin: auto;
  width: 95vw;
  overflow-x: auto;
}

.noTickets {
  border: 2px solid var(--mat-sys-surface-container);
  border-radius: 8px;
  color: var(--mat-sys-on-surface);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin: 2rem 0rem;
  padding: 2rem;
  width: fit-content;

  img {
    width: 8rem;
    height: 8rem;
  }

  p {
    text-align: center;
    font-weight: 600;
  }
}

mat-form-field {
  overflow-y: hidden;
  height: 3.5rem;
  width: 35vw;
  background-color: var(--mat-sys-surface-container-lowest);
}

mat-button-toggle{
  background-color: var(--mat-sys-surface-container-low);
}

mat-progress-spinner{
  margin: auto;
  display: flex;
  justify-self: center;
  align-self: center;
}

mat-paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 8px;
  margin: 1.25rem 0rem;
}