.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
}

.tab-icon {
  transform: scale(0.75);
  margin-inline: 0.25rem;
}

mat-tab-group {
  margin-bottom: 1rem;
}