<div class="container">
    <!-- tabs module start -->
    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
        @for (tab of tabs; track tab) {
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">{{ tabConfig[tab].icon }}</mat-icon>
                {{ tabConfig[tab].name }}
            </ng-template>
        </mat-tab>
        }
    </mat-tab-group>
    <!-- tabs module end -->
    <!-- queue module start -->
    <app-queue-tabs *ngIf="selectedTab !== 'screening'" [queues]="queues" [queueConfig]="queueConfig" [allTickets]="allTickets"
      (queueChange)="onQueueChange($event)" [selectedQueue]="selectedQueue">
    </app-queue-tabs>
    <!-- queue module start -->
    <!-- Views module start -->
    <ng-container [ngSwitch]="selectedTab">
        <app-view-tickets *ngSwitchCase="'tickets'" [allTickets]="allTickets" [loading]="loading" [error]="error"
            [selectedQueue]="selectedQueue" (searchChange)="handleSearchChange($event)"
            (showTableChange)="handleShowTableChange($event)"></app-view-tickets>
        <app-view-archived *ngSwitchCase="'archived'" [allTickets]="allTickets" [loading]="loading" [error]="error"
            [selectedQueue]="selectedQueue" (searchChange)="handleSearchChange($event)"
            (showTableChange)="handleShowTableChange($event)"></app-view-archived>
        <app-view-screening *ngSwitchCase="'screening'" [allTickets]="allTickets" [loading]="loading" [error]="error"
            [selectedQueue]="'screening'" (searchChange)="handleSearchChange($event)"
            (showTableChange)="handleShowTableChange($event)"></app-view-screening>
    </ng-container>
    <!-- Views module end -->
</div>