  nav {
      background-color: var(--tertiary-color);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      padding: 0.5rem 0rem;
  }

  .main-container,
  .aux-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .main-container section {
      padding: 0rem 1rem;
  }

  .logo {
      display: flex;
      justify-content: start;
      width: 20vw;
  }

  .search {
      display: flex;
      justify-content: start;
      width: 40vw;
  }

  .user-actions {
      display: flex;
      justify-content: flex-end;
      width: 20vw;
  }

  .primary {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0rem;
  }

  section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      padding: 0rem 0.5rem;
  }

  .image-logo {
      max-width: 3rem;
      max-height: 3rem;
  }

  .text-logo {
      font-size: large;
      font-weight: bold;
  }

  .quick-search-bar {
      display: flex;
      width: 100%;
      height: 2.25rem;
      transition: transform 0.2s ease-in-out;
      border-radius: 64px;

      input {
          width: 100%;
          border-radius: 64px 0px 0px 64px;
          border: 1px solid var(--alt-text-color);
          background-color: var(--bg-color);
          color: var(--alt-text-color);

          text-indent: 16px;
      }

      button {
          border: 1px solid var(--alt-text-color);
          border-radius: 0px 64px 64px 0px;
          background-color: var(--primary-color);
          color: #ffffff;
          cursor: pointer;
          padding: 0rem 0.75rem;

          i {
              margin-right: 0.25rem;
          }
      }

  }

  .quick-search-bar:hover {
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
      border: solid 1px rgba(0, 0, 0, 0.5);
      transform: translateY(1px);
  }

  .user-info {
      display: flex;
      justify-content: start;
      align-items: center;
      font-size: large;
      color: #ffffff;
      text-wrap: nowrap;
      margin: 0.5rem 0rem;
      width: fit-content;
      text-indent: 0.5rem;
  }

  .user-actions-btns {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
  }

  .collapsible-menu {
      display: none;
  }

  .collapsible-menu.open {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.075);
      border-radius: 8px;
      padding: 0.5rem 0rem;
      margin-bottom: 0.5rem;
      z-index: 10;
  }

  .collapsible-menu button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      border-color: rgba(0, 0, 0, 0.5);
      padding: 0.5rem;
      margin: 0.25rem 0rem;
      margin-inline: 0.25rem;
      font-weight: 600;
      cursor: pointer;
  }

  .collapsible-menu.open {
      display: flex;
      margin: 1rem;
  }

  .collapsible-menu {
      button {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 8px;
          border-color: rgba(0, 0, 0, 0.5);
          padding: 0.5rem;
          margin-inline: 4px;
          font-weight: 600;
          cursor: pointer;

          i {
              margin-left: 0.25rem;
          }
      }

      #lock {
          color: #151716;
          background-color: #EED202;
      }

      #panel {
          color: #E8E2E2;
          background-color: #007bff;
      }

      #logout {
          color: #E8E2E2;
          background-color: #FF2C2C;
      }
  }

  .user-actions #menu-toggle {
      background-color: var(--primary-color);
      color: white;
      padding: 0.66rem;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, 0.5);
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
  }

  .user-actions #menu-toggle:hover {
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
      transform: translateY(1px);
  }

  .user-actions #menu-toggle {
      transform: rotate(0deg);
      transition: transform 0.3s ease;
  }

  .user-actions #menu-toggle.active {
      transform: rotate(-90deg);
  }

  #theme-toggle {
      background-color: var(--bg-color);
      color: var(--text-color);
      padding: 0.66rem;
      border-radius: 100%;
      border: 2px solid rgba(0, 0, 0, 0.5);
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      margin-inline: 0.5rem;
  }

  #theme-toggle:hover {
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.25);
      transform: translateY(1px);
  }