body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --alt-text-color: #e4e3e4;
    --primary-color: #007bff;
    --secondary-color: #E8E2E2;
    --tertiary-color: #202122;
    --quartenary-color: #f5f2f2;
}

/* Dark mode override */
.dark-theme {
    --bg-color: #121212;
    --text-color: #ffffff;
    --alt-text-color: #2b2929;
    --primary-color: #5d99da;
    --secondary-color: #3f3f3f;
    --tertiary-color: #161819;
    --quartenary-color: #181818;
}