<!--ticket table start-->
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of displayedColumns">
                <section class="table-header">
                    {{ columnConfig[column].name }}
                    <div class="table-sort">
                        <i class="fa fa-sort-up"></i>
                        <i class="fa fa-sort-down"></i>
                    </div>
                </section>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tickets; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
            <td>{{ row.id }}</td>
            <td>
                <i *ngIf="row.status === 'priority'" class="fa fa-star" style="color: #FF2C2C;"></i>
                <i *ngIf="row.status === 'open'" class="fa fa-circle" style="color: #EED202;"></i>
                <i *ngIf="row.status === 'closed'" class="fa fa-circle" style="color: #6CC173;"></i>
            </td>
            <td>{{ row.requester?.name }}</td>
            <td>{{ row.request }}</td>
            <td>{{ row.location?.locationName }}</td>
            <td>{{ row.location?.region }}</td>
            <td>{{ row.startDate }}</td>
            <td>{{ row.lastInteraction }}</td>
            <td><input type="checkbox"></td>
        </tr>
    </tbody>
</table>
<!-- ticket table end -->