/* table-ticket */
table {
    min-width: 95vw;
    border-collapse: collapse;
    margin: 1.5rem auto;
    border-radius: 8px; 
    overflow: hidden;
}

thead th {
    background-color: var(--quartenary-color);
}

thead th:hover {
    background-color: var(--secondary-color);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .th-info {
        display: flex;
        align-items: center;
        width: fit-content;
        justify-content: center;
        margin: auto;
        color: var(--text-color);

        i {
            margin-inline: 0.5rem;
        }

        @media (min-width: 1100px) {
            span {
                display: block;
            }
        }

        @media (max-width: 768px) {
            span {
                display: none;
            }
        }
    }

    .table-sort {
        display: flex;
        flex-direction: column;
        padding: 0rem 0.5rem;
        width: fit-content;

        .fa-sort-down {
            margin-top: -0.75rem;
        }
    }
}

thead{
    border: 0.2rem solid var(--secondary-color);
    border-radius: 100%;
}

tbody{
    border: 0.2rem solid var(--secondary-color);
    border-radius: 100%;
}

table th,
table td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--secondary-color);
    text-wrap: nowrap;
    
}

table tbody th {
    background-color: var(--secondary-color);
    cursor: pointer;
    
}

table tbody tr:hover {
    border: 0.2rem solid var(--primary-color);
}

.even-row {
    background-color: var(--bg-color);
}

.odd-row {
    background-color: var(--quartenary-color);
}
/* table-ticket */