<!-- ticket table start -->
<table class="table">
    <!-- table head start -->
    <thead>
        <tr>
            <th *ngFor="let column of displayedColumns">
                <section class="table-header">
                    <div class="th-info">
                        <i *ngIf="columnConfig[column].label === 'id'" class="fa-solid fa-hashtag"></i>
                        <i *ngIf="columnConfig[column].label === 'status'" class="fa-solid fa-circle-exclamation"></i>
                        <i *ngIf="columnConfig[column].label === 'requesterName'" class="fa fa-user"></i>
                        <i *ngIf="columnConfig[column].label === 'request'" class="fa-solid fa-receipt"></i>
                        <i *ngIf="columnConfig[column].label === 'locationName'" class="fa-solid fa-location-dot"></i>
                        <i *ngIf="columnConfig[column].label === 'locationRegion'"
                            class="fa-solid fa-map-location-dot"></i>
                        <i *ngIf="columnConfig[column].label === 'lastInteraction'" class="fa-solid fa-clock"></i>
                        <i *ngIf="columnConfig[column].label === 'startDate'" class="fa fa-calendar-days"></i>
                        <i *ngIf="columnConfig[column].label === 'selection'" class="fa-solid fa-list-check"></i>
                        <span>{{ columnConfig[column].name }}</span>
                    </div>

                    <div *ngIf="columnConfig[column].label !== 'selection'" class="table-sort">
                        <i class="fa fa-sort-up"></i>
                        <i class="fa fa-sort-down"></i>
                    </div>
                </section>
            </th>
        </tr>
    </thead>
    <!-- table head end -->
    <!-- table body start -->
    <tbody>
        <tr *ngFor="let row of displayedTickets; let i = index"
            [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
            <td>{{ row.id }}</td>
            <td>
                <i *ngIf="row.status === 'priority'" class="fa fa-star" style="color: #FF2C2C;"></i>
                <i *ngIf="row.status === 'open'" class="fa fa-circle" style="color: #EED202;"></i>
                <i *ngIf="row.status === 'closed'" class="fa fa-circle" style="color: #6CC173;"></i>
            </td>
            <td>{{ row.requester?.name }}</td>
            <td>{{ row.request }}</td>
            <td>{{ row.location?.locationName }}</td>
            <td>{{ row.location?.region }}</td>
            <td>{{ row.startDate }}</td>
            <td>{{ row.lastInteraction }}</td>
            <td><input type="checkbox"></td>
        </tr>
    </tbody>
    <!-- table body end -->
</table>
<!-- ticket table end -->