<div class="menu-container" [class.open]="isMenuOpen">
    <div class="menu">
        <h4 matTooltip="Operador atual">Olá, <strong class="user-text">Operador Admin</strong>!</h4>
    
        <span class="spacer"></span>
    
        <div class="buttons-container">
            <button mat-flat-button id="myTickets" matTooltip="Ver Chamados">
                <span>Meus Chamados</span>
                <mat-icon>receipt</mat-icon>
            </button>
            <button mat-flat-button id="addTicket" matTooltip="Criar Chamado">
                <span>Criar Chamado</span>
                <mat-icon>note_add</mat-icon>
            </button>
            <button mat-flat-button id="administration" matTooltip="Administração">
                <span>Administração</span>
                <mat-icon>security</mat-icon>
            </button>
            <button mat-flat-button id="logout" matTooltip="Sair">
                <span>Sair</span>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>
