.container {
    color: var(--mat-sys-on-surface);
    display: grid;
    justify-content: center;
    padding: 0.25rem 1rem;
}

form {
    display: grid;
    width: 75vw;
}

textarea {
    max-height: 42vh;
}

.grouper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0rem;
    }

    mat-form-field {
        width: 100%;
    }
}

.buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem;

    button {
        padding: 1.5rem 1.75rem;
    }

    @media (max-width: 768px) {
        button {
            width: 100%;
        }
        span {
            display: none;
        }
    }
}

.ticket-details{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

mat-stepper{
    border-radius: 1rem;
    pointer-events: none;
}