<div class="container">
    <h2>Consultar Chamado</h2>

    <form [formGroup]="consultForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Número do Chamado</mat-label>
            <input matInput formControlName="id" required>
            <mat-error *ngIf="consultForm.get('id')?.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="consultForm.get('password')?.hasError('required')">Campo obrigatório</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Consultar</button>
    </form>

    <div *ngIf="ticketFound" class="ticket-detalhes">
        <h3>Detalhes do Chamado</h3>
        <p><strong>ID:</strong> {{ ticketFound.id }}</p>
        <p><strong>Solicitação:</strong> {{ ticketFound.request }}</p>
        <p><strong>Status:</strong> {{ ticketFound.status }}</p>
        <!-- Exiba outros campos conforme necessário -->
    </div>
</div>