.wrapper {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
}

app-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

app-ticket-manager{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    min-height: 91.2vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}