<!-- paginator helper module start -->
<div class="paginator-helper">
    <!-- pagination-helper module start -->
    <section class="text-pagination">
        <p> Mostrando <strong> 3 </strong>
            a <strong> 3 </strong>
            de <strong> 3 </strong>
            chamados </p>
    </section>
    <!-- pagination-helper module end -->
    <!-- pagination module start -->
    <section class="control-pagination">
        <button class="navigator-btn">Anterior</button>
        <section>
            <button class="active">1</button>
            <!--placeholder <button>2</button>-->
        </section>
        <button class="navigator-btn">Próximo</button>
    </section>
    <!-- pagination module end -->
</div>
<!-- paginator helper module end -->