<!-- Desktop Filters module start -->
<div class="desktop-filters">
    <button *ngFor="let filter of filters; let i = index" [ngClass]="{'active': filter.active}"
        (click)="activateFilter(i)">
        {{ filter.label }} <i [class]="filter.icon" aria-hidden="true"></i>
    </button>
</div>
<!-- Desktop Filters module end -->

<!-- Mobile Filters module start -->
<div class="mobile-filters">
    <section>
        <span>Fila atual: </span>
        <!-- Collapsible Menu dropdown start -->
        <button class="toggle-menu" (click)="toggleMenu()">
            {{ selectedFilter }} <i class="fa" [ngClass]="isMenuOpen ? 'fa-chevron-up' : 'fa-chevron-down'"
                aria-hidden="true"></i>
        </button>
        <!-- Collapsible Menu dropdown end -->
    </section>
    <!-- Collapsible Menu start -->
    <div class="collapsed-menu" *ngIf="isMenuOpen">
        <button *ngFor="let filter of filters; let i = index" [ngClass]="{'active': filter.active}"
            (click)="activateFilter(i)">
            {{ filter.label }} <i [class]="filter.icon" aria-hidden="true"></i>
        </button>
    </div>
    <!-- Collapsible Menu end -->
</div>
<!-- Mobile Filters module end -->