<!-- Legacy Filter Module start -->
<div class="legacy-filters">
    <button *ngFor="let filter of filters; let i = index" [ngClass]="{'active': filter.active}"
        (click)="activateFilter(i)">
        {{ filter.label }} <i [class]="filter.icon" aria-hidden="true"></i>
    </button>
</div>
<!-- Legacy Filter Module end -->

<!-- Main Filter Module start -->
<div class="main-filters">
    <div class="collapsed-filter">
        <select class="dropdown-filter" aria-label="Filter Options" (change)="onDropdownChange($event)">
            <option *ngFor="let filter of filters" [value]="filter.label" [selected]="filter.active">
                {{ filter.label }}
            </option>
        </select>
    </div>
</div>
<!-- Main Filter Module end -->