.filter-search-bar {
    border-radius: 8px;
    display: flex;
    width: 33vw;
    transition: transform 0.2s ease-in-out;

    @media (max-width: 768px) {
        width: 50vw;
    }

    input {
        background-color: var(--bg-color);
        color: var(--alt-text-color);
        border-radius: 8px 0px 0px 8px;
        border: 1px solid var(--alt-text-color);
        width: 100%;
        padding: 0.5rem;
        font-size: large;

        @media (max-width: 768px) {
            font-size: medium;
        }
    }

    button {
        border: 1px solid var(--alt-text-color);
        border-radius: 0px 8px 8px 0px;
        background-color: var(--tertiary-color);
        color: #ffffff;
        cursor: pointer;
        padding: 0.5rem 0.75rem;

        i {
            margin-right: 0.125rem;
        }
    }
}

.filter-search-bar:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);
    border: solid 1px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
}