<mat-toolbar color="primary">
    <div class="container">
        <p>Autorização: </p> <span id="autorization"> Master </span>
    </div>

    <div class="divisor">|</div>

    <div class="container">
        <p>Ambiente: </p> <span id="ambient"> Development </span>
    </div>

    <div class="divisor">|</div>

    <div class="container">
        <p>Versão: </p> <span id="version"> 2.XX Alfa</span>
        <button mat-flat-button id="version-notes">Notas</button>
    </div>

    <div class="divisor">|</div>

    <div class="container">
        <p>Company/Sector </p>
    </div>
</mat-toolbar>