.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.quick-search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  background-color: white;
}

.search-icon {
  position: relative;
  margin-inline: 0.125rem;
  color: rgba(0, 0, 0, 0.5);
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.25rem;
  width: 30vw;
}