.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    fill: var(--mat-sys-on-surface);
    color: var(--mat-sys-on-surface);
    width: 2.5rem;
    height: 2.5rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.quick-search-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--mat-sys-on-surface);
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  background-color: var(--mat-sys-surface-container-lowest);
}

.search-icon {
  position: relative;
  margin-inline: 0.125rem;
  color: var(--mat-sys-on-surface);
}

.search-input {
  background-color: transparent;
  color: var(--mat-sys-on-surface);
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.25rem;
  width: 30vw;
}

#toggleMenuBtn{
  transition: transform 0.3s ease-in-out;
}

.rotate-menu-btn {
  transform: rotate(-90deg);
}

.menu-container {
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);
  border: 1px solid var(--mat-sys-surface-container-lowest);
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
  top: 100%;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}