<mat-toolbar color="primary">
    <div class="logo">
        <img src="../../../assets/images/star-alt-com.svg" alt="Logo">
        <h1>APLIC</h1>
    </div>

    <span class="spacer"></span>

    <div class="quick-search-container">
        <input matInput type="text" placeholder="Pesquisa Rápida..." class="search-input">
        <mat-icon class="search-icon">search</mat-icon>
    </div>

    <span class="spacer"></span>

    <!-- Theme Toggle Button -->
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon *ngIf="!isDarkMode">wb_sunny</mat-icon>
        <mat-icon *ngIf="isDarkMode">nights_stay</mat-icon>
    </button>

    <!-- Collapsible Menu -->
    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>