<mat-toolbar>
    <!-- Logo Module -->
    <div class="logo">
        <img src="../../../assets/images/star-alt-com.svg" alt="Logo">
        <h1>APLIC <span class="dev-text">DEV</span></h1>
    </div>

    <span class="spacer"></span>

    <mat-form-field appearance="outline">
        <input matInput placeholder="Pesquisa Rápida..." >
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <span class="spacer"></span>

    <!-- Theme Toggle Button -->
    <button mat-icon-button (click)="toggleTheme()">
        <mat-icon *ngIf="!isDarkMode" matTooltip="Claro">wb_sunny</mat-icon>
        <mat-icon *ngIf="isDarkMode" matTooltip="Escuro">nights_stay</mat-icon>
    </button>

    <!-- Collapsible Menu -->
    <button mat-icon-button id="toggleMenuBtn" (click)="toggleMenu()" [ngClass]="{'rotate-menu-btn': isMenuOpen}">
        <mat-icon matTooltip="Menu">menu</mat-icon>
    </button>
</mat-toolbar>
<!-- Collapsible Menu Content -->
<div class="menu-container" *ngIf="isMenuOpen">
    <div class="menu-items">
        <h4 matTooltip="Operador atual">Olá, <strong class="user-text">Operador Admin</strong>!</h4>

        <span class="spacer"></span>

        <div class="buttons-container">
            <button mat-flat-button id="lock" matTooltip="Chamados Bloqueados">
                <h4>0</h4>
                <mat-icon>lock</mat-icon>
            </button>
            <button mat-flat-button id="panel" matTooltip="Painel">
                <span>Painel</span>
                <mat-icon>table_view</mat-icon>
            </button>
            <button mat-flat-button id="administration" matTooltip="Administração">
                <span>Administração</span>
                <mat-icon>security</mat-icon>
            </button>
            <button mat-flat-button id="logout" matTooltip="Sair">
                <span>Sair</span>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>