<div class="main-container">
    <!-- tabs module start -->
    <app-tabs-selector></app-tabs-selector>
    <!-- tabs module start -->
    <div class="container">
        <!-- category filter module start -->
        <app-category-filters (queueSelected)="updateQueue($event)"></app-category-filters>
        <!-- category filter module end -->
        <div class="div-container">
            <!-- ticket filter module start -->
            <app-ticket-filters></app-ticket-filters>
            <!-- ticket filter module end -->
            <app-view-buttons (showTableChange)="handleShowTableChange($event)"></app-view-buttons>
            <!-- aux button module start -->
            <app-auxiliar-buttons></app-auxiliar-buttons>
            <!-- aux button module end -->
        </div>
    </div>
    <!--main-ticket-content module start-->
    <div class="aux-container">
        <div *ngIf="loading">Loading tickets...</div>
        <div *ngIf="error">Error: {{ error }}</div>
        <div *ngIf="!loading && !error">
            <div *ngIf="filteredTickets.length > 0; else noTickets">
                <app-ticket-table *ngIf="showTable" [tickets]="filteredTickets"></app-ticket-table>
                <app-ticket-card *ngIf="!showTable" [tickets]="filteredTickets"></app-ticket-card>
            </div>
            <ng-template #noTickets>
                <div class="noTickets">
                    <img src="../../../assets/images/such-empty.png">
                    <p>Sem Tickets no Momento :P</p>
                </div>
            </ng-template>
        </div>
    </div>
    <!--main-ticket-content module end-->
    <!-- OBS: este modulo pode mudar de lugar-->
    <div *ngIf="!loading && !error && filteredTickets.length > 0" class="container">
        <!-- pagination module start -->
        <app-pagination [tickets]="filteredTickets"></app-pagination>
        <!-- pagination module end -->
    </div>
    <!-- OBS: este modulo pode mudar de lugar-->
</div>