<div class="main-container">
    <!-- tabs module start -->
    <app-tabs-selector></app-tabs-selector>
    <!-- tabs module start -->
    <div class="container">
        <!-- category filter module start -->
        <app-category-filters></app-category-filters>
        <!-- category filter module end -->
        <div class="div-container">
            <!-- ticket filter module start -->
            <app-ticket-filters (showTableChange)="handleShowTableChange($event)"></app-ticket-filters>
            <!-- ticket filter module end -->
            <!-- aux button module start -->
            <app-auxiliar-buttons></app-auxiliar-buttons>
            <!-- aux button module end -->
        </div>
    </div>
    <!--main-ticket-content module start-->
    <div class="aux-container">
        <app-ticket-table *ngIf="showTable"></app-ticket-table>
        <app-ticket-card *ngIf="!showTable"></app-ticket-card>
    </div>
    <!--main-ticket-content module end-->
    <!-- OBS: este modulo pode mudar de lugar-->
    <div class="container">
        <!-- pagination module start -->
        <app-pagination></app-pagination>
        <!-- pagination module end -->
    </div>
    <!-- OBS: este modulo pode mudar de lugar-->
</div>