<!-- footer module start-->
<div class="primary">
    <section>
        <p>Autorização: </p> <span id="autorization"> Operação </span>
    </section>
    <div>|</div>
    <section>
        <p>Ambiente: </p> <span id="ambient"> Development </span>
    </section>
    <div>|</div>
    <section>
        <p>Versão: </p> <span id="version"> 2.XX Alfa</span>
        <button id="version-notes">Notas</button>
    </section>
    <div>|</div>
</div>
<div class="secondary">
    <section>
        <p>Company/Sector </p> <span>
    </section>
</div>
<!-- footer module end-->