<mat-toolbar color="primary">
    <div class="main-container">
        <div class="aux-container">
          <section>
            <p>Autorização: </p> <span id="autorization"> Operação </span>
          </section>
          <div class="divisor">|</div>
          <section>
            <p>Ambiente: </p> <span id="ambient"> Development </span>
          </section>
          <div class="divisor">|</div>
        </div>
        <div class="aux-container">
          <section>
            <p>Versão: </p> <span id="version"> 2.XX Alfa</span>
            <button mat-raised-button color="accent" id="version-notes">Notas</button>
          </section>
        <div class="divisor">|</div>
        </div>
        <div class="aux-container">
          <section>
            <p>Company/Sector </p>
          </section>
        </div>
    </div>
  </mat-toolbar>