<!-- Card Grid Start-->
<div class="card-grid">
    <div class="ticket-card" *ngFor="let ticket of tickets">
        <div class="card-header">
            <h3 class="ticket-id">#{{ticket.id}}</h3>
            <section class="responsible-info">
                <p class="responsible">{{ticket.responsible}}</p>
                <i *ngIf="ticket.responsible" class="fa fa-lock"></i>
            </section>
            <i *ngIf="ticket.status === 'priority'" class="fa fa-star" style="color: #FF2C2C;"></i>
            <i *ngIf="ticket.status === 'open'" class="fa fa-circle" style="color: #EED202;"></i>
            <i *ngIf="ticket.status === 'closed'" class="fa fa-circle" style="color: #6CC173;"></i>
        </div>
        <div class="card-body">
            <p class="requester"><strong>Solicitante:</strong> {{ticket.requester}}</p>
            <p class="request"><strong>Solicitação:</strong> {{ticket.request}}</p>
            <p class="location"><strong>Local:</strong> {{ticket.location.locationName}}</p>
            <p class="region"><strong>Região:</strong> {{ticket.location.region}}</p>
            <p class="date"><strong>Data:</strong> {{ticket.startDate}}</p>
        </div>
        <div class="card-footer">
            <section><i class="fa fa-regular fa-clock"></i><span class="time">{{ticket.lastInteraction}}</span> </section>
            <input type="checkbox" class="card-check">
        </div>
    </div>
</div>
<!-- Card Grid End -->