.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header{
    background-color: #E8E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

main{
    display: block;
    width: fit-content;
    min-height: 84.75vh;
}

footer {
    background-color: #E8E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    bottom: 0;
}