<table mat-table [dataSource]="dataSource" matSort>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>tag</mat-icon> ID </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.id}} </td>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>flag</mat-icon> Status </th>
    <td mat-cell *matCellDef="let ticket">
      <ng-container *ngIf="ticket?.status">
        <mat-icon *ngIf="ticket.status === 'priority'" matTooltip="Prioridade">error</mat-icon>
        <mat-icon *ngIf="ticket.status === 'open'" matTooltip="Aberto">watch_later</mat-icon>
        <mat-icon *ngIf="ticket.status === 'closed'" matTooltip="Fechado">check_circle</mat-icon>
      </ng-container>
      <!--debug {{ticket.status}}-->
    </td>
  </ng-container>

  <!-- requester name Column -->
  <ng-container matColumnDef="requesterName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>account_circle</mat-icon> Solicitante </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.requesterName}} </td>
  </ng-container>

  <!-- request Column -->
  <ng-container matColumnDef="request">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>assignment</mat-icon> Solicitação </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.request}} </td>
  </ng-container>

  <!-- location name Column -->
  <ng-container matColumnDef="locationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>place</mat-icon> Local </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.locationName}} </td>
  </ng-container>

  <!-- location region Column -->
  <ng-container matColumnDef="locationRegion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>map</mat-icon> Região </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.locationRegion}} </td>
  </ng-container>

  <!-- created date Column -->
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>today</mat-icon> Início </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.createdDate | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- end date Column -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>event</mat-icon> Término </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.endDate | date:'dd/MM/yyyy HH:mm'}} </td>
  </ng-container>

  <!-- last Interaction Column -->
  <ng-container matColumnDef="lastInteraction">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>update</mat-icon> </th>
    <td mat-cell *matCellDef="let ticket">
      {{ticket.lastInteraction}} <!--debug {{ticket.lastInteraction}}-->
    </td>
  </ng-container>

  <!-- responsible Column -->
  <ng-container matColumnDef="responsible">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>person</mat-icon> Responsável </th>
    <td mat-cell *matCellDef="let ticket"> {{ticket.responsible}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="goToTicket(row)"
    class="table-row" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
  </tr>
</table>