<table mat-table [dataSource]="displayedTickets" matSort>

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column !== 'selection' ? '' : ''">
      <mat-icon matTooltip="{{ columnConfig[column].name }}">{{ columnConfig[column].icon }}</mat-icon>
      {{ columnConfig[column].name }}
    </th>
    <td mat-cell *matCellDef="let ticket">
      <ng-container *ngIf="column === 'status'; else defaultCell">
        <mat-icon *ngIf="ticket.status === 'priority'" style="color: red;" matTooltip="Priority">star</mat-icon>
        <mat-icon *ngIf="ticket.status === 'open'" style="color: yellow;" matTooltip="Open">circle</mat-icon>
        <mat-icon *ngIf="ticket.status === 'closed'" style="color: green;" matTooltip="Closed">circle</mat-icon>
      </ng-container>

      <ng-template #defaultCell>
        {{ ticket[column] ||
        (column === 'requesterName' ? ticket.requester?.name : '') ||
        (column === 'locationName' ? ticket.location?.name : '') ||
        (column === 'locationRegion' ? ticket.location?.region : '')
        }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" class="table-row"
    [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"></tr>
</table>