table {
    min-width: 95vw;
    margin: 1.5rem auto;
    border: 4px solid var(--mat-sys-surface-container-highest);
    border-radius: 8px;
    overflow: hidden;
}

.table-header-cell{
    background-color:  var(--mat-sys-surface-container);
}

.table-row:hover{
    background-color: var(--mat-sys-surface-container-highest);
}

td, th{
    border: 1px solid var(--mat-sys-surface-container);
}
