.tab-icon {
    transform: scale(0.75);
    margin-inline: 0.25rem;
}

mat-tab-group {
    margin-bottom: 1rem;
}

.ticket-count {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface);
    border-radius: 8px;
    margin-inline: 0.5rem;
    padding: 0.25rem 0.5rem;
}