.container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 95vw;
    margin: 1rem 0rem;
}

.tab-icon {
    transform: scale(0.75);
    margin-inline: 0.25rem;
}

.ticket-count {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-surface);
    border-radius: 8px;
    margin-inline: 0.5rem;
    padding: 0.25rem 0.5rem;
}