<div class="container">
    <mat-tab-group  mat-stretch-tabs (selectedTabChange)="onQueueChange($event)" [selectedIndex]="selectedQueueIndex">
        @for (queue of queues; track queue) {
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">{{ queueConfig[queue].icon }}</mat-icon>
                {{ queueConfig[queue].name }}
                <span *ngIf="queueTicketCounts[queue] > 0" class="ticket-count">
                    {{queueTicketCounts[queue]}}
                </span>
            </ng-template>
        </mat-tab>
        }
    </mat-tab-group>
</div> 

